# featurized_wiki_comments_attack.Rds
*_cache/
*_files/


/featurize_images/localdata
/featurize_images/Caltech.Rds
/featurize_images/knots.Rds
*.bak
/featurize_images/.Rhistory
/featurize_images/.RData
/featurize_images/151.rds

.Rhistory

